.loading-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: url('~@/assets/images/loading.png');
}


/* loading 动画图像父级的布局 */
.loading-view {
    height: 50px;
    position: relative;
    /*left: 50%;*/
    top: 50%;
    transform: translateY(-50%);
}

/* 文字 */
.tip-view {
    font-family: "Microsoft YaHei", serif;
    font-weight: 800;
    letter-spacing: 4px;
    color: #00FFBA;
    position: relative;
    /*left: 50%;*/
    top: 50%;
    transform: translateY(-50%);
}

.logo {
    width: 50px;
    height: 50px;
    background-image: url("../../assets/images/logo-loading.png");
    background-repeat: no-repeat;
    background-size: 100%;
}


/* 动画 */
.loadingFive span {
    -webkit-animation: load 1.5s ease infinite;
}

@-webkit-keyframes load {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.loadingFive span:nth-child(1) {
    -webkit-animation-delay: 0.13s;
}

.loadingFive span:nth-child(2) {
    -webkit-animation-delay: 0.26s;
}

.loadingFive span:nth-child(3) {
    -webkit-animation-delay: 0.39s;
}

.loadingFive span:nth-child(4) {
    -webkit-animation-delay: 0.52s;
}
